<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <form method="post" action="/new">
        <h1>New Message</h1>
        <label for="user">User</label> <br>
        <input type="text" placeholder="User" name="user" id="user"><br><br>
        <label for="text">Content</label><br>
        <textarea name="text" id="text" placeholder="Text here" cols="50" rows="20"></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>